
@{
    ViewData["Title"] = "MasterPage";
}
<link href="d:\noamproject\plateupsolution\webplateup\wwwroot\stylesheet\homepage.css" rel="stylesheet" />
<div class="wrapper">
    <header class="header">
        <div class="logo">
            <a href="HomePage.html">
                <img src="d:\noamproject\plateupsolution\webplateup\wwwroot\images\logo.png" alt="Restaurant Logo" />
            </a>
        </div>
        <nav class="nav">
            <ul class="navigation">
                <li class="item"><a href="HomePage.html">H O M E</a></li>
                <li class="item"><a href="Menu.html">M E N U</a></li>
                <li class="item"><a href="TableReservation.html">T A B L E &#160 R E S E R V A T I O N</a></li>
                <li class="item"><a href="Login.html">L O G I N</a></li>
                <li class="item"><a href="Signup.html">S I G N U P</a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        @RenderBody()
    </main>
    <footer class="footer">
        <p class="rights">All Rights Reserved</p>
    </footer>
</div>
