
@{
    ViewData["Title"] = "MasterPage";
}
<link href="~/stylesheet/masterpage.css" rel="stylesheet" />
<div class="wrapper">
    <header class="header">
        <div class="logo">
            <a href="HomePage.html">
                <img src="~/images/logo.png" />
            </a>
        </div>
        <nav class="nav">
            <ul class="navigation">
                <li class="item"><a href="http://localhost:5290/Guest/HomePage/">H O M E</a></li>
                <li class="item"><a href="http://localhost:5290/Guest/Menu/">M E N U</a></li>
                <li class="item"><a href="">T A B L E &#160 R E S E R V A T I O N</a></li>
                @* בדיקה האם המשתמש מחובר *@
                @if (Context.Session.GetString("clientId") == null)
                {
                    @* יוצג רק אם המשתמש לא מחובר *@
                    <li class="item"><a href="http://localhost:5290/Guest/ViewLogin/">L O G I N</a></li>
                    <li class="item"><a href="http://localhost:5290/Guest/ViewRegistration/">S I G N U P</a></li>
                }
                else
                {
                    @* יוצג רק אם המשתמש מחובר *@
                    <li class="item">
                        <span class="username">
                            <img src="~/images/profile.png" />
                            <span>@Context.Session.GetString("clientName") ▼</span>
                        </span>
                        <div class="dropdown">
                            <a href="http://localhost:5290/guest/ViewRegistration/">Update Profile</a>
                            <a href="/Guest/Logout">Logout</a>
                        </div>
                    </li>
                }
            </ul>
            <div class="cart-section-header">
                @RenderSection("CartIcon", required: false)
            </div>
        </nav>
    </header>
    <main class="main">
        @RenderBody()
    </main>
    <footer class="footer">
        <p class="rights">All Rights Reserved</p>
    </footer>
</div>
