@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
<link href="~/stylesheet/login.css" rel="stylesheet" />
<div class="page-container">
    <form asp-controller="Client" asp-action="Login" class="Login" method="post">
        <h1 class="Title">Login</h1>
        <ul class="fields">
            <li class="field">
                <input name="email" id="email" type="text" placeholder="Email" required />
                <img class="icon" src="~/images/email.png" />
            </li>
            <li class="field">
                <input name="password" id="password" type="password" placeholder="Password" required />
                <img class="icon" src="~/images/lock.png" />
            </li>
        </ul>
        <button class="buttonReset" type="reset">Reset</button>
        <button class="buttonLogin" type="submit">Login</button>
        <div class="register-link">
            <p>Don't have an account? <a href="http://localhost:5290/Guest/ViewRegistration/">Signup</a></p>
        </div>
    </form>
</div>

