@using Models;

@model Meal
@{
    ViewData["Title"] = "MealDetails";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
<link href="~/stylesheet/mealdetails.css" rel="stylesheet" />
@section CartIcon
{
    <div class="cart-container">
        <img src="~/images/shopping-cart.png" class="cart-icon" alt="Cart" />
        <span class="cart-badge">0</span> 
    </div>
}
<div class="MealWrapper">
    <div class="meal-image">
        <img src="http://localhost:5035/DataImages/@Model.MealPhoto" alt="@Model.MealName" />
    </div>

    <!-- Left side: Info -->
    <div class="meal-info">
        <h1 class="meal-name">@Model.MealName</h1>

        <p class="meal-description">@Model.MealDescription</p>

        <p class="meal-price">$@Model.MealPrice</p>

        <input type="number" min="1" value="1" class="meal-quantity" />
        @if (Context.Session.GetString("clientId") != null)
        {
            <button class="add-to-cart">Add to Cart</button>
        }           
        else
        {
            <button class="add-to-cart" disabled>Add to Cart</button>
            <p class="errorData">
                You must log in to add items to your cart.
            </p>    
        }
    </div>

</div>


