@using Models;

@model MenuViewModel
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
<link href="~/stylesheet/menu.css" rel="stylesheet" />
<div class="MenuWrapper">
    <div class="page-layout">
        <aside class="filters">
            <section class="search-section">
                <input type="text" placeholder="Search" class="search-bar">
            </section>
            <h3>Food Type</h3>
            <select name="foodType" id="foodType">
                <option value="">Select</option>
                @foreach(FoodType foodType in Model.FoodTypes)
                {
                    <option value="">@foodType.FoodTypeName</option>

                }
            </select>

            <h3>Price</h3>
            <div class="price-sort">
                <label><input type="radio" name="price" value="lowToHigh">Low to High</label><br>
                <label><input type="radio" name="price" value="highToLow">High to Low</label>
            </div>
        </aside>
        <!-- Menu items grid -->
        <section class="menu-items">
            @foreach (Meal meal in Model.Meals)
            {
                <div class="item">
                    <a href="">
                        <img src="http://localhost:5035/DataImages/@meal.MealPhoto">
                        <p>@meal.MealName</p>
                        <p>$@meal.MealPrice</p>
                    </a>
                </div>
            }
        </section>
    </div>
    <section class="pagination">
        <button>Prev</button>
        <button class="active">1</button>
        <button>2</button>
        <button>3</button>
        <button>4</button>
        <button>5</button>
        <button>Next</button>
    </section>
</div>


