@using Models;

@model MenuViewModel
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
<link href="~/stylesheet/menu.css" rel="stylesheet" />
<div class="MenuWrapper">
    <main class="main">
        <div class="page-layout">
            <aside class="filters">
                <section class="search-section">
                    <input type="text" placeholder="Search" class="search-bar">
                </section>
                <h3>Food Type</h3>
                <select name="foodType" id="foodType">
                    <option value="">Select</option>
                    <option value="Appetizers">Appetizers</option>
                    <option value="Italian Cuisine">Italian Cuisine</option>
                    <option value="Pastas">Pastas</option>
                    <option value="Pizzas">Pizzas</option>
                    <option value="drinks">Drinks</option>
                    <option value="Desserts">Desserts</option>
                    <option value="Salads">Salads</option>
                    <option value="Fish">Fish</option>
                </select>

                <h3>Price</h3>
                <div class="price-sort">
                    <label><input type="radio" name="price" value="lowToHigh">Low to High</label><br>
                    <label><input type="radio" name="price" value="highToLow">High to Low</label>
                </div>
            </aside>
            <!-- Menu items grid -->
            <section class="menu-items">
                @foreach (Meal meal in Model.Meals)
                {
                    <a href="">
                        <div class="item">
                            <img class="MealImage" src="@meal.MealPhoto" />
                            <p>@meal.MealName</p>
                            <p>@meal.MealPrice</p>
                        </div>
                    </a>
                }
            </section>
        </div>
        <section class="pagination">
            <button>Prev</button>
            <button class="active">1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
            <button>5</button>
            <button>Next</button>
        </section>

    </main>
</div>


